<!DOCTYPE html>
<html>
  <head>
    <title>AjaxPostingApp6</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if flash[:notice] %>
      <%=  flash[:notice]%>
    <% end %>

    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>

    <% if current_user %>
      <%= link_to('logout', destroy_user_session_path, :method => :delete) %>
      <%= link_to('password', edit_registration_path(:user)) %>
    <% else %>
      <%= link_to('signup', new_registration_path(:user)) %>
      <%= link_to('login', new_session_path(:user)) %>
    <% end %>

    <%= link_to "jquery1", jquery_1_path %> -5-
    <%= link_to "jquery2", jquery_2_path %> -5-
    <%= link_to "jquery3", jquery_3_path %> -5-
    <%= link_to "jquery4", jquery_4_path %> -5-
    <%= link_to "jquery5", jquery_5_path %> -5-
    <%= yield %>
  </body>
</html>
