<!DOCTYPE html>
<html>
  <head>
    <title>AjaxPostingApp6</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "jquery1", jquery_1_path %> -5-
    <%= link_to "jquery2", jquery_2_path %> -5-
    <%= link_to "jquery3", jquery_3_path %> -5-
    <%= link_to "jquery4", jquery_4_path %> -5-
    <%= link_to "jquery5", jquery_5_paht %> -5-
    <%= yield %>
  </body>
</html>
